# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pyc
*.env
*.cpython*

# Virtual environment folders
myenv/
venv/

# VS Code settings
.vscode/

# macOS system files
.DS_Store